/**
 * @class Ext.tux.progressbar.ProgressBar
 */

/**
 * @var {color} $progressbar-bg-color
 * Background-color for ProgressBars components.
 */
$progressbar-bg-color: #e1e1e1 !default;

/**
 * @var {measurement} $progressbar-height
 * The height of the ProgressBars components.
 */
$progressbar-height: $global-row-height !default;

/**
 * @var {string} $progressbar-bg-animation-speed
 * The animation speed used by the fill element.
 */
$progressbar-bg-animation-speed: 2s !default;

/**
 * @var {boolean} $include-progressbar-uis
 * True to include the deafults ProgressBar ui.
 */
$include-progressbar-uis: $include-default-uis !default;


.x-progressbar {
    
    position: relative;
    height: $progressbar-height;
    background: $progressbar-bg-color;
    border: solid 1px darken($progressbar-bg-color, 5%);
    width: 100%;

    .x-progress-inner {
        
        @include background-size($progressbar-height $progressbar-height);
        @include background-image(linear-gradient(-45deg, #fff 25%, #f6f6f6 25%, #f6f6f6 50%, #fff 50%, #fff 75%, #f6f6f6 75%, #f6f6f6));
        height: 100%;

    }
    
    .x-progress-value {

        @include ellipsis;

        position: absolute;
        padding: .4em .2em;
        width: 100%;
        height: 100%;
        color: white;
        font-size: $progressbar-height / 2;
        font-weight: bold;
        text-align: center;

        &.x-hidden {
         display: none;
     }

    }

    &.x-animated {
        .x-progress-inner {
            -webkit-animation: scroll $progressbar-bg-animation-speed linear infinite;
        }
    }

} 

@-webkit-keyframes scroll {
    0% {
       background-position: 0;
    }
    100% {
       background-position: $progressbar-height;
    }
}

/** 
 * Definition of the ProgressBar styles when placed
 * inside a Toolbar component.
 */
.x-toolbar {

    .x-progressbar {
    
        @include box-flex(1);
    
        margin: 0 .5em;
        height: 1.5em;

        .x-progress-value {
        
            padding: .4em;
            font-weight: normal;
            font-size: .7em;

        }
        
    }

    .x-progressbar, .x-progressbar .x-progress-inner {
        @include border-radius($progressbar-height);
    }
    
}

/** 
 * Definition of the ProgressBar styles when wrapped
 * inside a Ext.field.Field component.
 */
.x-field {
    .x-progressbar {
        border: none;
    }
}



/**
 * Creates a theme UI for the ProgressBar component.
 *
 *     // SCSS
 *     @include sencha-progressbar-ui('green', #468f59);
 *
 *     // JS
 *     var progressbar = new Ext.tux.ProgresBar({value: 50, ui: 'green'})
 *
 * @param {string} $ui-label The name of the UI being created.
 *   Can not included spaces or special punctuation (used in class names)
 * @param {color} $color Base color for the UI.
 * @param {boolean} $includeToolbarUI True to also create the associated custom Toolbar UI.
 */
@mixin sencha-progressbar-ui($ui-label, $color, $includeToolbarUI: false) {

    $secondary-color: lighten($color, 5%);

    .x-progressbar-#{$ui-label} {
        .x-progress-inner {
            @include background-image(linear-gradient($color, $secondary-color)); 
        }
        .x-progress-value {
            @include color-by-background($color);
        }
        &.x-animated {
            .x-progress-inner {
                @include background-image(linear-gradient(-45deg, $color 25%, $secondary-color 25%, $secondary-color 50%, $color 50%, $color 75%, $secondary-color 75%, $secondary-color));
            }
        }
    }

    .x-toolbar {
        .x-progressbar-#{$ui-label} {
            
            @include box-shadow(inset 0px 0 5px darken($color, 15%));
        
            background: darken($color, 10%);
            border: solid 1px darken($color, 15%);

        }
    }

    // Create the Ext.Toolbar UI if requested
    @if($includeToolbarUI) {
        @include sencha-toolbar-ui($ui-label, $color);
    }

}

@if($include-progressbar-uis){
    @include sencha-progressbar-ui('dark', darken($base-color, 15%));
    @include sencha-progressbar-ui('light', $base-color);
}