/**
 * @class Ext.form.Panel
 */
/**
 * @var {color} $form-bg-color
 * Default background-color for forms.
 */
/**
 * @var {color} $form-light
 * Light color for form fields, mostly used on field borders.
 */
/**
 * @var {color} $form-dark
 * Dark color for form fields, mostly used on labels/text.
 */
/**
 * @var {measurement} $form-spacing
 * Default spacing for form fields, used for padding, etc.
 */
/**
 * @var {measurement} $form-label-width
 * Default width for form labels.
 */
/**
 * @var {color} $form-label-background-color
 * The default background color for labels
 */

/**
 * @class Ext.tux.field.Container
 */
/* line 7, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
.x-field-container .x-container-row {
  border-top: solid 1px #dddddd; }
  /* line 11, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row:first-child {
    border-top: 0; }
  /* line 15, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-inner div {
    border: none; }
  /* line 21, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-field .x-field-input {
    border-right: solid 1px #dddddd; }
  /* line 27, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-field:last-child .x-field-input {
    border-right: none; }
  /* line 33, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-field .x-form-label {
    display: none !important; }

/**
 * @class Ext.tux.progressbar.ProgressBar
 */
/**
 * @var {color} $progressbar-bg-color
 * Background-color for ProgressBars components.
 */
/**
 * @var {measurement} $progressbar-height
 * The height of the ProgressBars components.
 */
/**
 * @var {string} $progressbar-bg-animation-speed
 * The animation speed used by the fill element.
 */
/**
 * @var {boolean} $include-progressbar-uis
 * True to include the deafults ProgressBar ui.
 */
.x-progressbar {
  position: relative;
  height: 2.6em;
  background: #e1e1e1;
  border: solid 1px #d4d4d4;
  width: 100%; }
  .x-progressbar .x-progress-inner {
    -webkit-background-size: 2.6em 2.6em;
    -moz-background-size: 2.6em 2.6em;
    -o-background-size: 2.6em 2.6em;
    background-size: 2.6em 2.6em;
    background-image: -webkit-linear-gradient(-45deg, #ffffff 25%, #f6f6f6 25%, #f6f6f6 50%, #ffffff 50%, #ffffff 75%, #f6f6f6 75%, #f6f6f6);
    background-image: -moz-linear-gradient(-45deg, #ffffff 25%, #f6f6f6 25%, #f6f6f6 50%, #ffffff 50%, #ffffff 75%, #f6f6f6 75%, #f6f6f6);
    background-image: -o-linear-gradient(-45deg, #ffffff 25%, #f6f6f6 25%, #f6f6f6 50%, #ffffff 50%, #ffffff 75%, #f6f6f6 75%, #f6f6f6);
    background-image: linear-gradient(-45deg, #ffffff 25%, #f6f6f6 25%, #f6f6f6 50%, #ffffff 50%, #ffffff 75%, #f6f6f6 75%, #f6f6f6);
    height: 100%; }
  .x-progressbar .x-progress-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    padding: .4em .2em;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center; }
    .x-progressbar .x-progress-value.x-hidden {
      display: none; }
  .x-progressbar.x-animated .x-progress-inner {
    -webkit-animation: scroll 2s linear infinite; }

@-webkit-keyframes scroll {
  0% {
    background-position: 0; }

  100% {
    background-position: 2.6em; } }

/** 
 * Definition of the ProgressBar styles when placed
 * inside a Toolbar component.
 */
.x-toolbar .x-progressbar {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  margin: 0 .5em;
  height: 1.5em; }
  .x-toolbar .x-progressbar .x-progress-value {
    padding: .4em;
    font-weight: normal;
    font-size: .7em; }
.x-toolbar .x-progressbar, .x-toolbar .x-progressbar .x-progress-inner {
  -webkit-border-radius: 2.6em;
  -moz-border-radius: 2.6em;
  -ms-border-radius: 2.6em;
  -o-border-radius: 2.6em;
  border-radius: 2.6em; }

/**
 * Creates a theme UI for the ProgressBar component.
 *
 *     // SCSS
 *     @include sencha-progressbar-ui('green', #468f59);
 *
 *     // JS
 *     var progressbar = new Ext.tux.ProgresBar({value: 50, ui: 'green'})
 *
 * @param {string} $ui-label The name of the UI being created.
 *   Can not included spaces or special punctuation (used in class names)
 * @param {color} $color Base color for the UI.
 * @param {boolean} $includeToolbarUI True to also create the associated custom Toolbar UI.
 */
.x-progressbar-dark .x-progress-inner {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1b6f9c), color-stop(100%, #1f7eb1));
  background-image: -webkit-linear-gradient(#1b6f9c, #1f7eb1);
  background-image: -moz-linear-gradient(#1b6f9c, #1f7eb1);
  background-image: -o-linear-gradient(#1b6f9c, #1f7eb1);
  background-image: linear-gradient(#1b6f9c, #1f7eb1); }
.x-progressbar-dark .x-progress-value {
  color: white; }
.x-progressbar-dark.x-animated .x-progress-inner {
  background-image: -webkit-linear-gradient(-45deg, #1b6f9c 25%, #1f7eb1 25%, #1f7eb1 50%, #1b6f9c 50%, #1b6f9c 75%, #1f7eb1 75%, #1f7eb1);
  background-image: -moz-linear-gradient(-45deg, #1b6f9c 25%, #1f7eb1 25%, #1f7eb1 50%, #1b6f9c 50%, #1b6f9c 75%, #1f7eb1 75%, #1f7eb1);
  background-image: -o-linear-gradient(-45deg, #1b6f9c 25%, #1f7eb1 25%, #1f7eb1 50%, #1b6f9c 50%, #1b6f9c 75%, #1f7eb1 75%, #1f7eb1);
  background-image: linear-gradient(-45deg, #1b6f9c 25%, #1f7eb1 25%, #1f7eb1 50%, #1b6f9c 50%, #1b6f9c 75%, #1f7eb1 75%, #1f7eb1); }

.x-toolbar .x-progressbar-dark {
  -webkit-box-shadow: inset 0px 0 5px #10405a;
  -moz-box-shadow: inset 0px 0 5px #10405a;
  box-shadow: inset 0px 0 5px #10405a;
  background: #135070;
  border: solid 1px #10405a; }

.x-progressbar-light .x-progress-inner {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #299cda), color-stop(100%, #3fa6de));
  background-image: -webkit-linear-gradient(#299cda, #3fa6de);
  background-image: -moz-linear-gradient(#299cda, #3fa6de);
  background-image: -o-linear-gradient(#299cda, #3fa6de);
  background-image: linear-gradient(#299cda, #3fa6de); }
.x-progressbar-light .x-progress-value {
  color: white; }
.x-progressbar-light.x-animated .x-progress-inner {
  background-image: -webkit-linear-gradient(-45deg, #299cda 25%, #3fa6de 25%, #3fa6de 50%, #299cda 50%, #299cda 75%, #3fa6de 75%, #3fa6de);
  background-image: -moz-linear-gradient(-45deg, #299cda 25%, #3fa6de 25%, #3fa6de 50%, #299cda 50%, #299cda 75%, #3fa6de 75%, #3fa6de);
  background-image: -o-linear-gradient(-45deg, #299cda 25%, #3fa6de 25%, #3fa6de 50%, #299cda 50%, #299cda 75%, #3fa6de 75%, #3fa6de);
  background-image: linear-gradient(-45deg, #299cda 25%, #3fa6de 25%, #3fa6de 50%, #299cda 50%, #299cda 75%, #3fa6de 75%, #3fa6de); }

.x-toolbar .x-progressbar-light {
  -webkit-box-shadow: inset 0px 0 5px #1b6f9c;
  -moz-box-shadow: inset 0px 0 5px #1b6f9c;
  box-shadow: inset 0px 0 5px #1b6f9c;
  background: #1f7eb1;
  border: solid 1px #1b6f9c; }

/**
 * @class Ext.tux.progressbar.Radial
 */
/**
 * @var {color} $radial-progressbar-color
 * Default color used by Radial ProgressBars components.
 */
/**
 * @var {measurement} $radial-progressbar-margin
 * Default margin used by Radial ProgressBars components.
 */
/**
 * @var {list} $radial-progressbar-allowed-scales
 * Allowed scales for Radial ProgressBar components.
 */
/**
 * Includes defaults Radial ProgressBar styles.
 */
.x-radial-progressbar.x-small {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 5px; }
  .x-radial-progressbar.x-small.x-floating {
    position: absolute !important; }
  .x-radial-progressbar.x-small .x-progress-inner, .x-radial-progressbar.x-small .x-progress-inner .x-slice, .x-radial-progressbar.x-small .x-progress-inner .x-slice div {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    position: absolute;
    width: 70px;
    height: 70px; }
  .x-radial-progressbar.x-small .x-progress-inner {
    margin: 5px;
    background-color: transparent; }
    .x-radial-progressbar.x-small .x-progress-inner .x-slice.x-half {
      clip: rect(0px, 80px, 80px, 35px); }
      .x-radial-progressbar.x-small .x-progress-inner .x-slice.x-half div {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        clip: rect(0px, 35px, 80px, 0); }
    .x-radial-progressbar.x-small .x-progress-inner .x-slice.x-end {
      clip: rect(0px, 35px, 80px, 0); }
      .x-radial-progressbar.x-small .x-progress-inner .x-slice.x-end div {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        clip: rect(0px, 35px, 80px, 0); }
    .x-radial-progressbar.x-small .x-progress-inner .x-slice div {
      border: solid 35px #299cda; }
  .x-radial-progressbar.x-small .x-progress-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    color: #299cda;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2.5em;
    text-align: center; }
    .x-radial-progressbar.x-small .x-progress-value.x-hidden {
      display: none; }
  .x-radial-progressbar.x-small.x-animated .x-progress-value {
    -webkit-transition: color 1000ms ease-in-out;
    -webkit-transition-delay: 0ms;
    -moz-transition: color 1000ms ease-in-out 0ms;
    -o-transition: color 1000ms ease-in-out 0ms;
    transition: color 1000ms ease-in-out 0ms; }

.x-radial-progressbar.x-medium {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px; }
  .x-radial-progressbar.x-medium.x-floating {
    position: absolute !important; }
  .x-radial-progressbar.x-medium .x-progress-inner, .x-radial-progressbar.x-medium .x-progress-inner .x-slice, .x-radial-progressbar.x-medium .x-progress-inner .x-slice div {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    width: 190px;
    height: 190px; }
  .x-radial-progressbar.x-medium .x-progress-inner {
    margin: 5px;
    background-color: transparent; }
    .x-radial-progressbar.x-medium .x-progress-inner .x-slice.x-half {
      clip: rect(0px, 200px, 200px, 95px); }
      .x-radial-progressbar.x-medium .x-progress-inner .x-slice.x-half div {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        clip: rect(0px, 95px, 200px, 0); }
    .x-radial-progressbar.x-medium .x-progress-inner .x-slice.x-end {
      clip: rect(0px, 95px, 200px, 0); }
      .x-radial-progressbar.x-medium .x-progress-inner .x-slice.x-end div {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        clip: rect(0px, 95px, 200px, 0); }
    .x-radial-progressbar.x-medium .x-progress-inner .x-slice div {
      border: solid 35px #299cda; }
  .x-radial-progressbar.x-medium .x-progress-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    color: #299cda;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2.5em;
    text-align: center; }
    .x-radial-progressbar.x-medium .x-progress-value.x-hidden {
      display: none; }
  .x-radial-progressbar.x-medium.x-animated .x-progress-value {
    -webkit-transition: color 1000ms ease-in-out;
    -webkit-transition-delay: 0ms;
    -moz-transition: color 1000ms ease-in-out 0ms;
    -o-transition: color 1000ms ease-in-out 0ms;
    transition: color 1000ms ease-in-out 0ms; }

.x-radial-progressbar.x-large {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px; }
  .x-radial-progressbar.x-large.x-floating {
    position: absolute !important; }
  .x-radial-progressbar.x-large .x-progress-inner, .x-radial-progressbar.x-large .x-progress-inner .x-slice, .x-radial-progressbar.x-large .x-progress-inner .x-slice div {
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
    position: absolute;
    width: 290px;
    height: 290px; }
  .x-radial-progressbar.x-large .x-progress-inner {
    margin: 5px;
    background-color: transparent; }
    .x-radial-progressbar.x-large .x-progress-inner .x-slice.x-half {
      clip: rect(0px, 300px, 300px, 145px); }
      .x-radial-progressbar.x-large .x-progress-inner .x-slice.x-half div {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        clip: rect(0px, 145px, 300px, 0); }
    .x-radial-progressbar.x-large .x-progress-inner .x-slice.x-end {
      clip: rect(0px, 145px, 300px, 0); }
      .x-radial-progressbar.x-large .x-progress-inner .x-slice.x-end div {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        clip: rect(0px, 145px, 300px, 0); }
    .x-radial-progressbar.x-large .x-progress-inner .x-slice div {
      border: solid 35px #299cda; }
  .x-radial-progressbar.x-large .x-progress-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    color: #299cda;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2.5em;
    text-align: center; }
    .x-radial-progressbar.x-large .x-progress-value.x-hidden {
      display: none; }
  .x-radial-progressbar.x-large.x-animated .x-progress-value {
    -webkit-transition: color 1000ms ease-in-out;
    -webkit-transition-delay: 0ms;
    -moz-transition: color 1000ms ease-in-out 0ms;
    -o-transition: color 1000ms ease-in-out 0ms;
    transition: color 1000ms ease-in-out 0ms; }

