/**
 * @class Ext.tux.dataview.ImgGallery
 */

/**
 * @var {Measurement} $gallery-items-size
 * Gallery items size.
 */
$gallery-items-size: 150px !default;

/**
 * @var {Measurement} $gallery-items-padding
 * Gallery items padding.
 */
$gallery-items-padding: 20px !default;
	
.x-gallery-page {

	.x-dataview-inner {
	    overflow: hidden;	
	}

	.x-photo-stack {
	
	    width: $gallery-items-size;
	    height: $gallery-items-size;

	}

	.x-gallery-photo {
	
		border: solid 5px #FFF;
		width: $gallery-items-size;
	    height: $gallery-items-size;
	
	}

	.x-label {
	
		color: #646262;
		font-size: 1.0em;
	
	}

	.x-img-stack-data-item {

	    padding: $gallery-items-padding;

	     &.x-item-edit-selected {
	
	              .x-gallery-photo {

			    &:after {
			
				    position: absolute;
					bottom: 0;
					right: 0;
				    background: url($tux-images + '/checked-blue.png') no-repeat;
				    width: 33px;
					height: 33px;
				    content: "";
			
				}
	              }

	          }

	}

	}

	.x-gallery-preview {
	.x-img {
	    background-size: contain;	
	}
	}

	.x-gallery-thumbs {

	height: 100px;
	padding: 5px;

	.x-dataview-container {
	
		@include display-box();
	       @include box-pack(center);
	       @include box-align(center);
	
	}

	.x-gallery-thumb {

		height: 100%;
	    width: 100%;
	    background-size: contain;
	    background-position: 50%;
	    background-repeat: no-repeat;
	    border: solid 1px #4f4f4f;

	}

	.x-dataview-item {
	
		@include single-transition(1000ms ease-in-out 0ms);
		opacity: .5;
		-webkit-filter: unquote('grayscale(100%)');
	
		height: 90px;
	    width: 90px;
	    margin-right: 5px;
	
		&.x-item-selected {
			opacity: 1;
		    -webkit-filter: none;
		}
	}

}

