/**
 * @class Ext.form.Panel
 */
/**
 * @var {color} $form-bg-color
 * Default background-color for forms.
 */
/**
 * @var {color} $form-light
 * Light color for form fields, mostly used on field borders.
 */
/**
 * @var {color} $form-dark
 * Dark color for form fields, mostly used on labels/text.
 */
/**
 * @var {measurement} $form-spacing
 * Default spacing for form fields, used for padding, etc.
 */
/**
 * @var {measurement} $form-label-width
 * Default width for form labels.
 */
/**
 * @var {color} $form-label-background-color
 * The default background color for labels
 */
/**
 * @class Ext.tux.field.Container
 */
/* line 7, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
.x-field-container .x-container-row {
  border-top: solid 1px #dddddd; }
  /* line 11, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row:first-child {
    border-top: 0; }
  /* line 15, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-inner div {
    border: none; }
  /* line 21, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-field .x-field-input {
    border-right: solid 1px #dddddd; }
  /* line 27, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-field:last-child .x-field-input {
    border-right: none; }
  /* line 33, ../../../../tux/resources/themes/stylesheets/sencha-tux/default/src/field/_container.scss */
  .x-field-container .x-container-row .x-field .x-form-label {
    display: none !important; }
