// Override the default color scheme
$base-color: #1068d6;

@import 'sencha-touch/base';
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@import 'sencha-tux/base';
@import 'sencha-tux/default';
@import 'sencha-tux/default/all';

// Define the custom styles for the Playlist view
.x-playlist-view {

    .x-audio-track-data-item {
        
        border: 1px solid #ccc;
        border-bottom-width: 0;

        .x-track-info {
    
            padding: 22px 0 5px 10px;
            font-size: 1em;
            color: #676767;
            
            .title {
                font-weight: bold;    
            }
            
        }
    
        &:last-child {
            border-bottom-width: 1px;
        }
    
    }
    
}